body {
    margin: 0;
}

.header {
    height: 200px;
    width: 100%;
}

.header img {
    margin-left: 10px;
    height: 200px;
    width: 200px;
    object-fit: cover;
}


.title {
    color: #1b9cf9;
    padding: 0;
    font-family: 'Lobster', sans-serif;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    letter-spacing: 2px;
}

.animated {
    animation-duration: 2.5s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
}

@keyframes pulse {
    0% {transform: scale(1);}
    50% {transform: scale(1.1);}
    100% {transform: scale(1);}
}
    .pulse {
    animation-name: pulse;
    animation-duration: 1.5s;
}

.container {
    background-color: #71c2fc69;
    border: 1px solid #1b9cf9;
    border-radius: 30px;
    width: 500px;
    margin: 0 auto;
}


.content {
    text-indent: 10px;
    padding: 10px;
}

@media only screen and (max-width: 600px) {

    .header img {
        height: 150px;
        width: 150px;
    }

    .container {
        width: 350px;
    }

}